@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./null.scss');
@import url('./variables.scss');
@import url('../fonts/font.css');


body {
    color: var(--main-color);
    background-color: var(--main-bg-color);
    font-family: var(--main-family);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100,
    "YTLC" 500;
}